@font-face {
  font-family: 'got';
  src: url('fonts/got.woff2') format('woff2');
}
body {
 font-family: 'got';
 min-height: 100vh;
 background-image: url(../images/bg.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}
.logo{
 padding: 0 75px;
}


.container {
 max-width: 1190px;
 padding: 0 15px;
 margin: 0 auto;
}
.header{
  height: 20%;
  background: "#798DBB";
}
.header__top {
 padding: 30px;
}


.menu__list {
 display: flex;
 justify-content: center;
 list-style: none;
}

.menu__list-item {
 margin: 0 10px;
}

.menu__list-link {
 position: relative;
 color: #fffee7;
 font-size: 1.1em;
 text-decoration: none;
 padding: 6px 20px;
 cursor: pointer;
}

.menu__list-link span {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border: 2px solid #fff;
 border-radius: 7px;
 transform: scale(0);
 opacity: 0;
 transition: transform 0.5s;
}

.menu__list-link:hover span {
 transform: scale(1);
 opacity: 1;
}

.header__content-inner {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 height: 80vh;
}

.header__title {
 font-size: 9em;
 text-align: center;
 -webkit-text-stroke: 1px #fff;
 color: transparent;
 background: url(/images/back-text.png);
 -webkit-background-clip: text;
 background-position: 0 0;
 animation: backText 20s linear infinite alternate;
}